# Assignment 1

## Ajayi Oluwanifemi - 201652476
## 2021-09-20

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("students.csv")

In [3]:
 df.head()

,REF_DATE,GEO,Institution type,Registration status,International Standard Classification of Education (ISCED),Field of study,Gender,Status of student in Canada,VALUE
0,2018/2019,Newfoundland and Labrador,University,Full-time student,Bachelor's or equivalent,Education [1],Male gender,Canadian students,129.0
1,2018/2019,Newfoundland and Labrador,University,Full-time student,Bachelor's or equivalent,Education [1],Male gender,International students,3.0
2,2018/2019,Newfoundland and Labrador,University,Full-time student,Bachelor's or equivalent,Education [1],Female gender,Canadian students,243.0
3,2018/2019,Newfoundland and Labrador,University,Full-time student,Bachelor's or equivalent,Education [1],Female gender,International students,3.0
4,2018/2019,Newfoundland and Labrador,University,Full-time student,Bachelor's or equivalent,Education [1],Gender unknown,Canadian students,3.0

### Code that finds number of unique fields of study

In [4]:
df["Field of study"].nunique()

14

### Code that lists all the unique degree types in the International Standard Classification of Education (ISCED) field.

In [5]:
df["International Standard Classification of Education (ISCED)"].unique()

array(["Bachelor's or equivalent", "Master's or equivalent",
       'Doctoral or equivalent', 'Post-secondary non-tertiary education',
       'Short-cycle tertiary education',
       'Not applicable, International Standard Classification of Education (ISCED)',
       'Upper secondary education'], dtype=object)

### Number of entries in the data set that have institution type of University or College

#### data stores the code and then len(data) gives the number

In [6]:
data = df[(df["Institution type"].str.contains("University")) | (df["Institution type"].str.contains("College"))]

In [7]:
len(data)

6221

### Total number of students enrolled in Newfoundland and Labrador

#### NL_student stores the data

In [12]:
NL_student = df[(df["Registration status"].str.contains("student")) & (df["GEO"].str.contains("Newfoundland and Labrador")) ]

#### Sum of students

In [11]:
NL_student["VALUE"].sum()

24777.0

### Number of male students from NL

In [29]:
male = NL_student[NL_student["Gender"].str.contains("Male gender")]

In [30]:
len(male)

163

### Number of female students from NL

In [31]:
female = NL_student[NL_student["Gender"].str.contains("Female gender")]

In [32]:
len(female)

159