# Kelachi Charles-Beke
## 201651312       
## Comp 4304 Assignment 6      
##  11/09/2021

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as mtick

from ipywidgets import interact, interact_manual 
import ipywidgets as widgets

### Question 1

In [3]:
df = pd.read_csv('Documents/phds_country.csv')

total8 = df['All Fields - Female'] + df['All Fields - Male']
df['Female'] = ((df['All Fields - Female'] / total8) * 100)
df['Male'] = ((df['All Fields - Male'] / total8) * 100)

df_female = df.sort_values(by='Female', ascending=True)
df_male = df.sort_values(by = 'Male', ascending=False)

total = df['All S&E - Female'] + df['All S&E - Male']
df['AllSEF'] = ((df['All S&E - Female'] / total) * 100)
df['AllSEM'] = ((df['All S&E - Male'] / total) * 100)

df_allsciFemale = df.sort_values(by='AllSEF' , ascending=True)
df_allsciMale = df.sort_values(by= 'AllSEM' , ascending=False)

total2 = df['Physical & Biological Sciences - Female'] + df['Physical & Biological Sciences - Male']
df['PBSF'] = ((df['Physical & Biological Sciences - Female'] / total2) * 100)
df['PBSM'] = ((df['Physical & Biological Sciences - Male'] / total2) * 100)

df_pbsFemale = df.sort_values(by='PBSF' , ascending=True)
df_pbsMale = df.sort_values(by= 'PBSM' , ascending=False)

total3 = df['Mathematics & Computer Sciences - Female'] + df['Mathematics & Computer Sciences - Male']
df['MCSF'] = ((df['Mathematics & Computer Sciences - Female'] / total3) * 100)
df['MCSM'] = ((df['Mathematics & Computer Sciences - Male'] / total3) * 100)

df_mscFemale = df.sort_values(by='MCSF' , ascending=True)
df_mcsMale = df.sort_values(by= 'MCSM' , ascending=False)

total4 = df['Agricultural Sciences - Female'] + df['Agricultural Sciences - Male']
df['ASF'] = ((df['Agricultural Sciences - Female'] / total4) * 100)
df['ASM'] = ((df['Agricultural Sciences - Male'] / total4) * 100)

df_asFemale = df.sort_values(by='ASF' , ascending=True)
df_asMale = df.sort_values(by= 'ASM' , ascending=False)

total5 = df['Social & Behavioral Sciences - Female'] + df['Social & Behavioral Sciences - Male']
df['SBSF'] = ((df['Social & Behavioral Sciences - Female'] / total5) * 100)
df['SBSM'] = ((df['Social & Behavioral Sciences - Male'] / total5) * 100)

df_sbsFemale = df.sort_values(by='SBSF' , ascending=True)
df_sbsMale = df.sort_values(by= 'SBSM' , ascending=False)

total6 = df['Engineering - Female'] + df['Engineering - Male']
df['EF'] = ((df['Engineering - Female'] / total6) * 100)
df['EM'] = ((df['Engineering - Male'] / total6) * 100)

df_eFemale = df.sort_values(by='EF' , ascending=True)
df_eMale = df.sort_values(by= 'EM' , ascending=False)

total7 = df['Non-S&E - Female'] + df['Non-S&E - Male']
df['NSEF'] = ((df['Non-S&E - Female'] / total7) * 100)
df['NSEM'] = ((df['Non-S&E - Male'] / total7) * 100)

df_nseFemale = df.sort_values(by='NSEF' , ascending=True)
df_nseMale = df.sort_values(by= 'NSEM' , ascending=False)

df

,Country,Region,All Fields - Female,All Fields - Male,All S&E - Female,All S&E - Male,Physical & Biological Sciences - Female,Physical & Biological Sciences - Male,Mathematics & Computer Sciences - Female,Mathematics & Computer Sciences - Male,...,MCSF,MCSM,ASF,ASM,SBSF,SBSM,EF,EM,NSEF,NSEM
0,Algeria,Africa,3649,4310,1771,2337,673,458,243,382,...,38.880000,61.120000,48.901099,51.098901,39.664218,60.335782,31.881676,68.118324,48.766554,51.233446
1,Argentina (2009),America,515,422,371,291,224,142,29,45,...,39.189189,60.810811,55.555556,44.444444,55.147059,44.852941,48.529412,51.470588,52.363636,47.636364
2,Armenia,Asia,221,393,44,166,25,86,0,0,...,NaN,NaN,66.666667,33.333333,22.580645,77.419355,10.169492,89.830508,43.811881,56.188119
3,Australia,Oceania,2911,2914,1362,1769,563,663,79,193,...,29.044118,70.955882,51.428571,48.571429,65.979381,34.020619,23.363286,76.636714,57.498144,42.501856
4,Austria,Europe,1064,1436,473,828,173,229,38,152,...,20.000000,80.000000,31.034483,68.965517,58.904110,41.095890,26.898048,73.101952,49.291076,50.708924
5,Belgium,Europe,905,1221,447,769,145,222,30,79,...,27.522936,72.477064,38.461538,61.538462,53.475936,46.524064,30.339321,69.660679,50.329670,49.670330
6,Bulgaria,Europe,285,311,138,158,44,31,9,7,...,56.250000,43.750000,73.333333,26.666667,53.333333,46.666667,32.307692,67.692308,49.000000,51.000000
7,Canada,America,2395,3021,1506,2308,674,905,86,263,...,24.641834,75.358166,44.117647,55.882353,61.898396,38.101604,22.972973,77.027027,55.493134,44.506866
8,Chile,America,192,231,135,183,100,111,3,11,...,21.428571,78.571429,45.000000,55.000000,61.904762,38.095238,19.230769,80.769231,54.285714,45.714286
9,Colombia,America,78,124,43,101,28,48,0,8,...,0.000000,100.000000,44.444444,55.555556,20.000000,80.000000,22.580645,77.419355,60.344828,39.655172
10,Croatia,Europe,428,410,200,221,98,59,8,24,...,25.000000,75.000000,41.379310,58.620690,56.521739,43.478261,32.089552,67.910448,54.676259,45.323741
11,Czech Republic,Europe,870,1358,470,875,242,283,27,109,...,19.852941,80.147059,39.449541,60.550459,51.587302,48.412698,20.712695,79.287305,45.300113,54.699887
12,Denmark,Europe,624,764,251,477,0,0,91,170,...,34.865900,65.134100,NaN,NaN,46.268657,53.731343,29.429429,70.570571,56.515152,43.484848
13,Estonia,Europe,92,83,47,59,27,27,2,12,...,14.285714,85.714286,75.000000,25.000000,77.777778,22.222222,32.000000,68.000000,65.217391,34.782609
14,Finland,Europe,937,813,396,528,118,119,24,65,...,26.966292,73.033708,54.166667,45.833333,66.500000,33.500000,28.877005,71.122995,65.496368,34.503632
15,France (2009),Europe,5085,6856,3175,5045,1979,2652,231,768,...,23.123123,76.876877,53.846154,46.153846,48.580968,51.419032,27.266135,72.733865,51.330288,48.669712
16,Georgia (2007),Asia,161,444,66,136,43,62,0,0,...,NaN,NaN,60.000000,40.000000,23.529412,76.470588,11.666667,88.333333,23.573201,76.426799
17,Germany,Europe,11533,14506,4228,7761,2670,3621,250,1113,...,18.341893,81.658107,42.606516,57.393484,52.742616,47.257384,15.433572,84.566428,51.992883,48.007117
18,Greece,Europe,792,1100,368,672,105,122,39,145,...,21.195652,78.804348,43.448276,56.551724,52.032520,47.967480,26.869806,73.130194,49.765258,50.234742
19,Hungary,Europe,595,680,243,356,141,162,18,75,...,19.354839,80.645161,30.000000,70.000000,58.730159,41.269841,35.000000,65.000000,52.071006,47.928994
20,Iceland,Europe,16,20,10,16,6,10,1,2,...,33.333333,66.666667,100.000000,0.000000,NaN,NaN,33.333333,66.666667,60.000000,40.000000
21,Iran,Middle East,1531,3257,436,1249,214,322,31,100,...,23.664122,76.335878,23.645320,76.354680,20.888889,79.111111,16.271186,83.728814,35.288431,64.711569
22,Iraq (2004),Middle East,1622,3434,351,984,132,153,36,50,...,41.860465,58.139535,21.212121,78.787879,28.947368,71.052632,18.136020,81.863980,34.157485,65.842515
23,Ireland,Europe,584,638,272,400,153,153,20,68,...,22.727273,77.272727,47.368421,52.631579,63.636364,36.363636,22.527473,77.472527,56.727273,43.272727
24,Israel,Middle East,778,756,437,529,259,248,23,103,...,18.253968,81.746032,60.000000,40.000000,58.285714,41.714286,27.343750,72.656250,60.035211,39.964789
25,Italy (2007),Europe,5228,4960,2758,3191,1230,1013,160,277,...,36.613272,63.386728,50.684932,49.315068,53.817272,46.182728,34.660541,65.339459,58.268460,41.731540
26,Jordan (2009),Middle East,156,316,25,29,9,4,1,8,...,11.111111,88.888889,0.000000,100.000000,65.217391,34.782609,0.000000,100.000000,31.339713,68.660287
27,Kyrgyzstan,Asia,307,252,165,137,34,29,17,14,...,54.838710,45.161290,50.000000,50.000000,54.794521,45.205479,55.357143,44.642857,55.252918,44.747082
28,Latvia,Europe,79,53,38,35,7,9,2,2,...,50.000000,50.000000,71.428571,28.571429,77.777778,22.222222,35.714286,64.285714,69.491525,30.508475
29,Lebanon,Middle East,48,76,7,14,2,1,0,0,...,NaN,NaN,NaN,NaN,27.777778,72.222222,NaN,NaN,39.805825,60.194175
30,Lithuania,Europe,235,171,137,103,41,25,12,8,...,60.000000,40.000000,87.500000,12.500000,70.769231,29.230769,38.271605,61.728395,59.036145,40.963855
31,Macedonia,Europe,80,77,18,19,5,2,2,3,...,40.000000,60.000000,NaN,NaN,57.142857,42.857143,27.272727,72.727273,51.666667,48.333333
32,Madagascar,Africa,258,307,111,173,59,69,9,17,...,34.615385,65.384615,35.087719,64.912281,35.416667,64.583333,24.000000,76.000000,52.313167,47.686833
33,Malaysia (2009),Asia,255,495,154,325,67,86,23,42,...,35.384615,64.615385,NaN,NaN,32.456140,67.543860,18.367347,81.632653,37.269373,62.730627
34,Mexico,America,1887,2280,842,1157,372,478,15,51,...,22.727273,77.272727,28.089888,71.910112,47.018739,52.981261,37.837838,62.162162,48.201107,51.798893
35,Mongolia,Asia,75,61,28,32,10,4,0,2,...,0.000000,100.000000,61.538462,38.461538,23.076923,76.923077,38.888889,61.111111,61.842105,38.157895
36,Morocco,Middle East,2564,3916,1195,1775,669,752,126,277,...,31.265509,68.734491,NaN,NaN,38.187221,61.812779,30.232558,69.767442,39.002849,60.997151
37,New Zealand,Oceania,526,461,247,263,130,118,21,38,...,35.593220,64.406780,66.666667,33.333333,66.019417,33.980583,25.531915,74.468085,58.490566,41.509434
38,Norway,Europe,538,664,169,324,0,0,141,291,...,32.638889,67.361111,NaN,NaN,47.272727,52.727273,33.333333,66.666667,52.045134,47.954866
39,Portugal,Europe,1816,1111,473,526,207,141,52,49,...,51.485149,48.514851,38.235294,61.764706,67.318436,32.681564,50.375940,49.624060,69.657676,30.342324
40,Romania,Europe,2274,2490,1102,1492,73,60,117,170,...,40.766551,59.233449,47.607053,52.392947,55.570470,44.429530,29.941860,70.058140,54.009217,45.990783
41,Saudi Arabia,Middle East,122,227,28,43,6,10,3,2,...,60.000000,40.000000,0.000000,100.000000,45.238095,54.761905,0.000000,100.000000,33.812950,66.187050
42,Slovak Republic,Europe,1407,1471,545,769,192,164,37,76,...,32.743363,67.256637,37.142857,62.857143,57.954545,42.045455,31.028369,68.971631,55.115090,44.884910
43,Slovenia,Europe,214,251,118,175,75,59,3,18,...,14.285714,85.714286,60.000000,40.000000,57.142857,42.857143,15.053763,84.946237,55.813953,44.186047
44,South Korea,Asia,3370,7172,883,3282,271,639,53,132,...,28.648649,71.351351,29.126214,70.873786,32.681564,67.318436,15.243416,84.756584,38.999530,61.000470
45,Spain,Europe,4088,4608,2079,2595,997,897,154,357,...,30.136986,69.863014,37.647059,62.352941,52.054795,47.945205,34.413580,65.586420,49.950273,50.049727
46,Sweden,Europe,1627,1744,754,1182,263,311,60,145,...,29.268293,70.731707,54.761905,45.238095,55.147059,44.852941,30.604982,69.395018,60.836237,39.163763
47,Switzerland,Europe,1604,2196,613,1141,342,529,18,136,...,11.688312,88.311688,51.428571,48.571429,53.125000,46.875000,22.602740,77.397260,48.435973,51.564027
48,Taiwan,Asia,956,2749,428,2081,143,364,45,89,...,33.582090,66.417910,24.210526,75.789474,36.363636,63.636364,9.763682,90.236318,44.147157,55.852843
49,Thailand,Asia,1716,1273,488,567,245,289,0,0,...,NaN,NaN,58.108108,41.891892,55.060729,44.939271,32.000000,68.000000,63.495346,36.504654
50,Turkey,Middle East,2093,2591,1007,1300,321,322,94,115,...,44.976077,55.023923,50.000000,50.000000,37.795276,62.204724,39.393939,60.606061,45.687842,54.312158
51,Uganda (2004),Africa,341,673,114,257,3,19,25,96,...,20.661157,79.338843,33.333333,66.666667,42.483660,57.516340,11.111111,88.888889,35.303266,64.696734
52,Ukraine (2011),Europe,4838,4080,2451,2437,462,484,147,213,...,40.833333,59.166667,44.910180,55.089820,69.575613,30.424387,33.523810,66.476190,59.230769,40.769231
53,United Kingdom,Europe,8485,10265,4445,6610,1800,2385,285,1070,...,21.033210,78.966790,53.488372,46.511628,61.732852,38.267148,21.146245,78.853755,52.501624,47.498376
54,United States,America,28397,29008,13411,19238,5667,6943,812,2343,...,25.736926,74.263074,46.334012,53.665988,57.626700,42.373300,23.233487,76.766513,60.534820,39.465180
55,Uruguay,America,23,16,22,14,18,8,0,1,...,0.000000,100.000000,NaN,NaN,50.000000,50.000000,33.333333,66.666667,33.333333,66.666667

In [31]:
@interact(x = widgets.Dropdown(options = ['All Ph.D.s', 'Non-Science Ph.D.s', 'All Science & Engineering', 'Agriculture', 'Engineering', 'Math & Computer Science', 'Physical & Biological', 
                                          'Social & Behavioural'], description = 'ViewType: '), Male = True, Female = True, All_PhDs = False, t = widgets.ToggleButtons(options = ['Ascending % of Females', 'Region'], 
                                          description = 'Order By:', disabled = False))
def f(x, Male, Female, All_PhDs, t):
    
    if(t == 'Ascending % of Females'):
        if(x == 'All Ph.D.s'):
            fig, ax = plt.subplots(figsize =(20,12))
            if(Female):
                ax1= sns.scatterplot(x='Country', y='Female', data = df_female, size = 'All Fields - Female', sizes = (10,1000), color = '#AADFAA', legend = False )
            if(Male):
                ax2= sns.scatterplot(x='Country', y='Male', data= df_male, size = 'All Fields - Male', sizes = (10,1000), color = '#FEB264', legend = False )
            if(All_PhDs):
                ax1= sns.scatterplot(x='Country', y='Female', data = df_female, size = 'All Fields - Female', sizes = (10,1000), color = '#AADFAA', legend = False )
                ax2= sns.scatterplot(x='Country', y='Male', data= df_male, size = 'All Fields - Male', sizes = (10,1000), color = '#FEB264', legend = False )

        if(x == 'Non-Science Ph.D.s'):
            fig, ax = plt.subplots(figsize =(20,12))
            if(Female):
                ax1 = sns.scatterplot(x='Country', y='NSEF', data = df_nseFemale, size = 'Non-S&E - Female', sizes = (10,600), color = '#AADFAA', legend = False )
            if(Male):
                ax2= sns.scatterplot(x='Country', y='NSEM', data= df_nseMale, size = 'Non-S&E - Male', sizes = (10,600), color = '#FEB264', legend = False )
            if(All_PhDs):
                ax1= sns.scatterplot(x='Country', y='NSEF', data = df_nseFemale, size = 'Non-S&E - Female', sizes = (10,1200), color = '#AADFAA', legend = False, alpha = 0.3)
                ax2= sns.scatterplot(x='Country', y='NSEM', data= df_nseMale, size = 'Non-S&E - Male', sizes = (10,1200), color = '#FEB264', legend = False , alpha=0.3)

        if(x == 'All Science & Engineering'):
            fig, ax = plt.subplots(figsize =(20,12))
            if(Female):
                ax1= sns.scatterplot(x='Country', y='AllSEF', data = df_allsciFemale, size = 'All Fields - Female', sizes = (10,600), color = '#AADFAA', legend = False )
            if(Male):
                ax2= sns.scatterplot(x='Country', y='AllSEM', data= df_allsciMale, size = 'All Fields - Female', sizes = (10,600), color = '#FEB264', legend = False )
            if(All_PhDs):
                ax1= sns.scatterplot(x='Country', y='AllSEF', data = df_allsciFemale, size = 'All Fields - Female', sizes = (10,1200), color = '#AADFAA', legend = False, alpha = 0.3)
                ax2= sns.scatterplot(x='Country', y='AllSEM', data= df_allsciMale, size = 'All Fields - Female', sizes = (10,1200), color = '#FEB264', legend = False, alpha = 0.3)


        if(x == 'Agriculture'):
            fig, ax = plt.subplots(figsize =(20,12))
            if(Female):
                ax1= sns.scatterplot(x='Country', y='ASF', data = df_asFemale, size = 'All Fields - Female', sizes = (10,600), color = '#AADFAA', legend = False )
            if(Male):
                ax2= sns.scatterplot(x='Country', y='ASM', data= df_asMale, size = 'All Fields - Female', sizes = (10,600), color = '#FEB264', legend = False )
            if(All_PhDs):
                ax1= sns.scatterplot(x='Country', y='ASF', data = df_asFemale, size = 'All Fields - Female', sizes = (10,1200), color = '#AADFAA', legend = False, alpha = 0.3)
                ax2= sns.scatterplot(x='Country', y='ASM', data= df_asMale, size = 'All Fields - Female', sizes = (10,1200), color = '#FEB264', legend = False,  alpha = 0.3)

        if(x == 'Engineering'):
            fig, ax = plt.subplots(figsize =(20,12))
            if(Female):
                ax1= sns.scatterplot(x='Country', y='EF', data = df_eFemale, size = 'Engineering - Female', sizes = (10,600), color = '#AADFAA', legend = False )
            if(Male):
                ax2= sns.scatterplot(x='Country', y='EM', data= df_eMale, size = 'Engineering - Male', sizes = (10,600), color = '#FEB264', legend = False )
            if(All_PhDs):
                ax1= sns.scatterplot(x='Country', y='EF', data = df_eFemale, size = 'Engineering - Female', sizes = (10,1200), color = '#AADFAA', legend = False, alpha = 0.3)
                ax2= sns.scatterplot(x='Country', y='EM', data= df_eMale, size = 'Engineering - Male', sizes = (10,1200), color = '#FEB264', legend = False, alpha = 0.3)

        if(x == 'Math & Computer Science'):
            fig, ax = plt.subplots(figsize =(20,12))
            if(Female):
                ax1= sns.scatterplot(x='Country', y='MCSF', data = df_mscFemale, size = 'Mathematics & Computer Sciences - Female', sizes = (10,600), color = '#AADFAA', legend = False )
            if(Male):
                ax2= sns.scatterplot(x='Country', y='MCSM', data= df_mcsMale, size = 'Mathematics & Computer Sciences - Male', sizes = (10,600), color = '#FEB264', legend = False )
            if(All_PhDs):
                ax1= sns.scatterplot(x='Country', y='MCSF', data = df_mscFemale, size = 'Mathematics & Computer Sciences - Female', sizes = (10,1200), color = '#AADFAA', legend = False, alpha = 0.3)
                ax2= sns.scatterplot(x='Country', y='MCSM', data= df_mcsMale, size = 'Mathematics & Computer Sciences - Male', sizes = (10,1200), color = '#FEB264', legend = False, alpha = 0.3)

        if(x == 'Physical & Biological'):
            fig, ax = plt.subplots(figsize =(20,12))
            if(Female):
                ax1= sns.scatterplot(x='Country', y='PBSF', data = df_pbsFemale, size = 'Physical & Biological Sciences - Female', sizes = (10,600), color = '#AADFAA', legend = False )
            if(Male):
                ax2= sns.scatterplot(x='Country', y='PBSM', data= df_pbsMale, size = 'Physical & Biological Sciences - Male', sizes = (10,600), color = '#FEB264', legend = False )
            if(All_PhDs):
                ax1= sns.scatterplot(x='Country', y='PBSF', data = df_pbsFemale, size = 'Physical & Biological Sciences - Female', sizes = (10,1200), color = '#AADFAA', legend = False, alpha = 0.3)
                ax2= sns.scatterplot(x='Country', y='PBSM', data= df_pbsMale, size = 'Physical & Biological Sciences - Male', sizes = (10,1200), color = '#FEB264', legend = False, alpha = 0.3)

        if(x == 'Social & Behavioural'):
            fig, ax = plt.subplots(figsize =(20,12))
            if(Female):
                ax1= sns.scatterplot(x='Country', y='SBSF', data = df_sbsFemale, size = 'Social & Behavioral Sciences - Female', sizes = (10,600), color = '#AADFAA', legend = False )
            if(Male):
                ax2= sns.scatterplot(x='Country', y='SBSM', data= df_sbsMale, size = 'Social & Behavioral Sciences - Male', sizes = (10,600), color = '#FEB264', legend = False )
            if(All_PhDs):
                ax1= sns.scatterplot(x='Country', y='SBSF', data = df_sbsFemale, size = 'Social & Behavioral Sciences - Female', sizes = (10,1200), color = '#AADFAA', legend = False, alpha = 0.3)
                ax2= sns.scatterplot(x='Country', y='SBSM', data= df_sbsMale, size = 'Social & Behavioral Sciences - Male', sizes = (10,1200), color = '#FEB264', legend = False, alpha = 0.3)
                
    if(t == 'Region'):
        if(x == 'All Ph.D.s'):
            fig, ax = plt.subplots(figsize =(20,12))
            if(Female):
                ax1= sns.scatterplot(x='Country', y='Female', data = df.sort_values("Region"), size = 'All Fields - Female', sizes = (10,1000), color = '#AADFAA', legend = False )
            if(Male):
                ax2= sns.scatterplot(x='Country', y='Male', data = df.sort_values("Region"), size = 'All Fields - Male', sizes = (10,1000), color = '#FEB264', legend = False )
            if(All_PhDs):
                ax1= sns.scatterplot(x='Country', y='Female', data = df.sort_values("Region"), size = 'All Fields - Female', sizes = (10,1000), color = '#AADFAA', legend = False, alpha = 0.3)
                ax2= sns.scatterplot(x='Country', y='Male', data = df.sort_values("Region"), size = 'All Fields - Male', sizes = (10,1000), color = '#FEB264', legend = False, alpha = 0.3)

        if(x == 'Non-Science Ph.D.s'):
            fig, ax = plt.subplots(figsize =(20,12))
            if(Female):
                ax1 = sns.scatterplot(x='Country', y='NSEF', data = df.sort_values("Region"), size = 'Non-S&E - Female', sizes = (10,600), color = '#AADFAA', legend = False )
            if(Male):
                    ax2= sns.scatterplot(x='Country', y='NSEM', data = df.sort_values("Region"), size = 'Non-S&E - Male', sizes = (10,600), color = '#FEB264', legend = False )
            if(All_PhDs):
                    ax1= sns.scatterplot(x='Country', y='NSEF', data = df.sort_values("Region"), size = 'Non-S&E - Female', sizes = (10,1200), color = '#AADFAA', legend = False, alpha = 0.3)
                    ax2= sns.scatterplot(x='Country', y='NSEM', data = df.sort_values("Region"), size = 'Non-S&E - Male', sizes = (10,1200), color = '#FEB264', legend = False, alpha = 0.3)

        if(x == 'All Science & Engineering'):
            fig, ax = plt.subplots(figsize =(20,12))
            if(Female):
                ax1= sns.scatterplot(x='Country', y='AllSEF', data = df.sort_values("Region"), size = 'All Fields - Female', sizes = (10,600), color = '#AADFAA', legend = False )
            if(Male):
                ax2= sns.scatterplot(x='Country', y='AllSEM', data = df.sort_values("Region"), size = 'All Fields - Female', sizes = (10,600), color = '#FEB264', legend = False )
            if(All_PhDs):
                ax1= sns.scatterplot(x='Country', y='AllSEF', data = df.sort_values("Region"), size = 'All Fields - Female', sizes = (10,1200), color = '#AADFAA', legend = False, alpha = 0.3)
                ax2= sns.scatterplot(x='Country', y='AllSEM', data = df.sort_values("Region"), size = 'All Fields - Female', sizes = (10,1200), color = '#FEB264', legend = False, alpha = 0.3)


        if(x == 'Agriculture'):
            fig, ax = plt.subplots(figsize =(20,12))
            if(Female):
                ax1= sns.scatterplot(x='Country', y='ASF', data = df.sort_values("Region"), size = 'All Fields - Female', sizes = (10,600), color = '#AADFAA', legend = False )
            if(Male):
                 ax2= sns.scatterplot(x='Country', y='ASM', data = df.sort_values("Region"), size = 'All Fields - Female', sizes = (10,600), color = '#FEB264', legend = False )
            if(All_PhDs):
                ax1= sns.scatterplot(x='Country', y='ASF', data = df.sort_values("Region"), size = 'All Fields - Female', sizes = (10,1200), color = '#AADFAA', legend = False, alpha = 0.3)
                ax2= sns.scatterplot(x='Country', y='ASM', data = df.sort_values("Region"), size = 'All Fields - Female', sizes = (10,1200), color = '#FEB264', legend = False, alpha = 0.3)

        if(x == 'Engineering'):
            fig, ax = plt.subplots(figsize =(20,12))
            if(Female):
                ax1= sns.scatterplot(x='Country', y='EF', data = df.sort_values("Region"), size = 'Engineering - Female', sizes = (10,600), color = '#AADFAA', legend = False )
            if(Male):
                 ax2= sns.scatterplot(x='Country', y='EM', data = df.sort_values("Region"), size = 'Engineering - Male', sizes = (10,600), color = '#FEB264', legend = False )
            if(All_PhDs):
                ax1= sns.scatterplot(x='Country', y='EF', data = df.sort_values("Region"), size = 'Engineering - Female', sizes = (10,1200), color = '#AADFAA', legend = False, alpha = 0.3)
                ax2= sns.scatterplot(x='Country', y='EM', data = df.sort_values("Region"), size = 'Engineering - Male', sizes = (10,1200), color = '#FEB264', legend = False, alpha = 0.3)

        if(x == 'Math & Computer Science'):
            fig, ax = plt.subplots(figsize =(20,12))
            if(Female):
                ax1= sns.scatterplot(x='Country', y='MCSF', data = df.sort_values("Region"), size = 'Mathematics & Computer Sciences - Female', sizes = (10,600), color = '#AADFAA', legend = False )
            if(Male):
                 ax2= sns.scatterplot(x='Country', y='MCSM', data = df.sort_values("Region"), size = 'Mathematics & Computer Sciences - Male', sizes = (10,600), color = '#FEB264', legend = False )
            if(All_PhDs):
                ax1= sns.scatterplot(x='Country', y='MCSF', data = df.sort_values("Region"), size = 'Mathematics & Computer Sciences - Female', sizes = (10,1200), color = '#AADFAA', legend = False, alpha = 0.3)
                ax2= sns.scatterplot(x='Country', y='MCSM', data = df.sort_values("Region"), size = 'Mathematics & Computer Sciences - Male', sizes = (10,1200), color = '#FEB264', legend = False, alpha = 0.3)

        if(x == 'Physical & Biological'):
            fig, ax = plt.subplots(figsize =(20,12))
            if(Female):
                ax1= sns.scatterplot(x='Country', y='PBSF', data = df.sort_values("Region"), size = 'Physical & Biological Sciences - Female', sizes = (10,600), color = '#AADFAA', legend = False )
            if(Male):
                 ax2= sns.scatterplot(x='Country', y='PBSM', data = df.sort_values("Region"), size = 'Physical & Biological Sciences - Male', sizes = (10,600), color = '#FEB264', legend = False )
            if(All_PhDs):
                ax1= sns.scatterplot(x='Country', y='PBSF', ddata = df.sort_values("Region"), size = 'Physical & Biological Sciences - Female', sizes = (10,1200), color = '#AADFAA', legend = False, alpha = 0.3)
                ax2= sns.scatterplot(x='Country', y='PBSM', data = df.sort_values("Region"), size = 'Physical & Biological Sciences - Male', sizes = (10,1200), color = '#FEB264', legend = False, alpha = 0.3)

        if(x == 'Social & Behavioural'):
            fig, ax = plt.subplots(figsize =(20,12))
            if(Female):
                ax1= sns.scatterplot(x='Country', y='SBSF', data = df.sort_values("Region"), size = 'Social & Behavioral Sciences - Female', sizes = (10,600), color = '#AADFAA', legend = False )
            if(Male):
                 ax2= sns.scatterplot(x='Country', y='SBSM', ddata = df.sort_values("Region"), size = 'Social & Behavioral Sciences - Male', sizes = (10,600), color = '#FEB264', legend = False )
            if(All_PhDs):
                ax1= sns.scatterplot(x='Country', y='SBSF', data = df.sort_values("Region"), size = 'Social & Behavioral Sciences - Female', sizes = (10,1200), color = '#AADFAA', legend = False, alpha = 0.3)
                ax2= sns.scatterplot(x='Country', y='SBSM', data = df.sort_values("Region"), size = 'Social & Behavioral Sciences - Male', sizes = (10,1200), color = '#FEB264', legend = False, alpha = 0.3)
            
    ax.set_ylim((-25, 100))
    ax.set_ylabel('Percent Of Total')
    #x.yaxis.set_major_formatter(mtick.PercentFormatter(1.0))
    ax.set_yticks([0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
    ax.set_yticklabels(['0', '10', '20', '30', '40', '50', '60', '70', '80', '90', '100'])
    ax.set_xlim((-1, 56))
    plt.xticks(rotation = 90, va = 'baseline', position = (0, .04))
    ax.tick_params(bottom = False)
    plt.title('Global Ph.D.s Gender Gap (2010)')

interactive(children=(Dropdown(description='ViewType: ', options=('All Ph.D.s', 'Non-Science Ph.D.s', 'All Sci…